@model Phones.Models.Company

@{
    ViewBag.Title = "AddCompany";
}

<div>
    <form action="~/api/company" method="post">
        <p>
            <div class="editor-label">
                @Html.LabelFor(c => c.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.Name)
                @Html.ValidationMessageFor(c => c.Name)
            </div>
        </p>
        <p>
            <div class="editor-label">
                @Html.LabelFor(c => c.Location)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.Location)
                @Html.ValidationMessageFor(c => c.Location)
            </div>
        </p>
        <p>
            <div class="editor-label">
                @Html.LabelFor(c => c.DateOfFoundation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.DateOfFoundation)
                @Html.ValidationMessageFor(c => c.DateOfFoundation)
            </div>
        </p>
        <p>
            <div class="editor-label">
                @Html.LabelFor(c => c.Active)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.Active)
                @Html.ValidationMessageFor(c => c.Active)
            </div>
        </p>
        <p><input class="btn btn-default" type="submit" value="Добавить"></p>
    </form>
</div>
