@model Phones.Models.Phone

@{
    ViewBag.Title = "Редактирование телефона";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            saveClick();
            cancelClick();
        })

        function addErrors(jsObj, field) {
            if (jsObj['ModelState'][field]) {
                $.each(jsObj['ModelState'][field], function (index, item) {
                    $('#errors').append("<p>" + item + "</p>");
                });
            }
        }

        function saveClick() {
            $("#save").click(function (event) {
                event.preventDefault();
                $.ajax("/api/phone/@Model.ID", {
                    type: "PUT",
                    data: $("#putForm").serialize(),
                    success: function () {
                        document.location.replace("/ModelTable/Phones");
                    },
                    error: function (jxqr, error, status) {
                        var response = jxqr.responseJSON;
                        $('#errors').empty();
                        addErrors(response, 'phone.Name');
                    }
                })
            })
        }

        function cancelClick() {
            $("#cancel").click(function (event) {
                event.preventDefault();
                document.location.replace("/ModelTable/Phones");
            })
        }
    </script>
}

<form id="putForm">
    <p><div id="errors" style="color:red;"></div></p>
    <table class="table">
        <tr>
            <th></th>
            <th>@Html.LabelFor(p => p.Name)</th>
            <th>@Html.LabelFor(p => p.CompanyID)</th>
        </tr>
        <tr>
            <td><input name="ID" value="@Model.ID" type="hidden" readonly /></td>
            <td>
                <input name="Name" value="@Model.Name" required />
            </td>
            <td>@Html.DropDownList("CompanyID")</td>
        </tr>
    </table>
    <button class="btn btn-primary" id="save">Сохранить</button>
    <button id="cancel" class="btn btn-danger">Отмена</button>
</form>
