@model Phones.Models.Company

@{
    ViewBag.Title = "Редактирование компании";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            saveClick();
            cancelClick();
        })

        function addErrors(jsObj, field) {
            if (jsObj['ModelState'][field]) {
                $.each(jsObj['ModelState'][field], function (index, item) {
                    $('#errors').append("<p>" + item + "</p>");
                });
            }
        }

        function saveClick() {
            $("#save").click(function (event) {
                event.preventDefault();
                $.ajax("/api/company/@Model.ID", {
                    type: "PUT",
                    data: $("#putForm").serialize(),
                    success: function () {
                        document.location.replace("/ModelTable/Companies");
                    },
                    error: function (jxqr, error, status) {
                        var response = jxqr.responseJSON;
                        $('#errors').empty();
                        addErrors(response, 'company.Name');
                        addErrors(response, 'company.Location');
                        addErrors(response, 'company.DateOfFoundation');
                    }
                })
            })
        }

        function cancelClick() {
            $("#cancel").click(function (event) {
                event.preventDefault();
                document.location.replace("/ModelTable/Companies");
            })
        }
    </script>
}

    <form id="putForm">
        <p><div id="errors" style="color:red;"></div></p>
        <table class="table">
            <tr>
                <th></th>
                <th>@Html.LabelFor(c => c.Name)</th>
                <th>@Html.LabelFor(c => c.Location)</th>
                <th>@Html.LabelFor(c => c.DateOfFoundation)</th>
                <th>@Html.LabelFor(c => c.Active)</th>
            </tr>
            <tr>
                <td><input name="ID" value="@Model.ID" readonly type="hidden" /></td>
                <td>@Html.EditorFor(c => c.Name)</td>
                <td>@Html.EditorFor(c => c.Location)</td>
                <td><input name="DateOfFoundation" value="@Model.DateOfFoundation.ToString("yyyy-MM-dd")" type="date" /></td>
                <td>@Html.CheckBoxFor(c => c.Active)</td>
            </tr>
        </table>
        <button id="save" class="btn btn-primary">Сохранить</button>
        <button id="cancel" class="btn btn-danger">Отмена</button>
    </form>